
<!DOCTYPE html>
<html>
<head lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Fantasy Stadium - Error</title>
    <link rel="stylesheet" type="text/css" href="http://fs.sports.naver.com/error/css/fantasy.css">
</head>
<body>
<div id="wrap">
    <div id="container">
        <div id="titleMsg">
            <span id="titleMsg1">죄송합니다</span>
            <br>
            <span id="titleMsg2" >판타지 게임 이용에 불편을 드려 죄송합니다.</span>
        </div>
        <div id="error_box" >
            <br>
            <img id="error_player" src="http://fs.sports.naver.com/error/images/img_error.png" alt="" >
            <br><br><br>

        </div>
    </div>
</div>

</body>
</html>
