<html>
<head>
</head>
<body>
</body>
<script src="http://fs.sports.news.naver.com:90/js/jquery-1.12.0.min.js"></script>


<script>
    $(document).on('ready',function(e){
        console.log(1);
        $.ajax({url :'http://fs.sports.naver.com:90/games/fantasyGame/getVersion'}).done(function(e){
        });


    });
</script>
</html>