<!DOCTYPE html>

<!--[if !IE]><!-->
<html lang="kr" >
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>Fantasy Stadium</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->

</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body>
<%- body %>
</body>
</html>