<html>
<head>
    <title>판타지 스타디움</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

</head>
<frameset rows="*%, 100%" border="0">
    <frame noresize scrolling="no" marginwidth="0" marginheight="0">
    <frame src="http://fs.sports.naver.com:<%= clientPort %>/game/tutorial/<%= version %>/index.html" name="main" marginwidth="0" marginheight="0" scrolling="no">

</frameset>
</html>
